.home-div {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0 10px;
  }
  

  
  .catogry-list {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  